:root {
    --primary: #b6895b; /* Warna Kopi */
    --bg: #010101; /* Warna Hitam */
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("/public/img/registerkopi.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    color: #050000;
    width: 300px;
  }

  .register-card h1 {
    font-size: 24px;
    color: #f39c12;
    margin-bottom: 10px;
  }
  
  .register-card h1 span {
    color: #fff;
  }
  
  .register-card h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .register-card form input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .register-card form button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  .register-card form button:hover {
    background-color: #e67e22;
  }
  
  .register-card p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .register-card p a {
    color: #f39c12;
    text-decoration: none;
  }
  
  .register-card p a:hover {
    text-decoration: underline;
  }
  
  /* Footer Start */
  footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
  }
  
  footer .socials {
    padding: 1rem 0;
  }
  
  footer .socials a {
    color: #fff;
    margin: 1rem;
  }
  
  footer .socials a:hover,
  footer .links a:hover {
    color: var(--bg);
  }
  
  footer .links {
    margin-bottom: 1.4rem;
  }
  
  footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
  }
  
  footer .credit {
    font-size: 0.8rem;
  }
  
  footer .credit a {
    color: var(--bg);
    font-weight: 700;
  }
  /* Footer End */
  